.table[id^="feature-attribute-table"]	{
	font-size:11px;
	
	td {
		padding: 0;
		&.feature-attribute-name {
            font-weight: bold;
        }
		input.attribute:not([type='checkbox']) {    
			width:100%;
			
            &.mask_number, &.mask_int, &.mask_date, &.mask_time {
                border: 1px solid #ccc;
				background-image: url('../img/masks.png');
				background-repeat: no-repeat;
            }
			&.mask_number, &.mask_int {
                padding-right: 20px;
				background-position: right -4px;
			}
			&.mask_date {
				background-position: right -24px;
			}
			&.mask_time {
				background-position: right -66px;
			}	
		}
		select.attribute {
            width:100%;
        }
	}
}