.feature-form  { /* Fiche d'un feature */
    margin-top: 10px;
    
    p.feature-id {
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        color: #fff;
        background-color: rgb(0, 60, 136);
        a {
            color: #fff;
        }
    }
    button.btn-modify {
        margin-bottom: 5px;
    }
    .table {
        font-size:11px;
        td {
            padding: 0;
            // Label nom de l'attribut du feature
            label.control-label {
                padding: 0 0 0 5px;
                margin-bottom:0;
                min-width: 120px;
                white-space: nowrap;
                &.has-error {
                    color: red;
                }
            }
            &.feature-attribute-name {
                padding: 0 5px 0 5px;
                font-weight: bold;
            }
            select:disabled,
            input:disabled {
                background-color: rgb(235, 235, 228);
                border-color: transparent;
                color: #bbb;
            }
            input.attribute {
                border: none;
                &.has-error {
                    border: 1px solid red;
                }
            }
            input.attribute:not([type='checkbox']) {    
                width:100%;
                // Picto à droite des inputs selon le type de champ
                &.mask_number, &.mask_int, &.mask_datetime, &.mask_date, &.mask_time {
                    background-image: url('../img/masks.png');
                    background-repeat: no-repeat;
                }
                &.mask_datetime, &.mask_date, &.mask_time {
                    min-width: 265px; // assez large pour datetimepicker
                }
                &.mask_number, &.mask_int {
                    padding-right: 20px;
                    background-position: right -4px;
                }
                &.mask_datetime {
                    background-position: right -46px;
                }
                &.mask_date {
                    background-position: right -26px;
                }
                &.mask_time {
                    background-position: right -66px;
                }	
            }
            select.attribute {
                width:100%;
            }
            button.document {
                font-size:10px; 
                padding-top:0; 
                padding-bottom:0;
            }
        }
    }
}