.ol-scale-control{
  position: absolute;
  left: 25%;
  bottom: 8px;
  background-color: mix(rgba(255,255,255,0.6), rgba(0,60,136,0.5), 0%);
  border-radius: 4px;
  color: #eee;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  margin: 1px;
  padding:2px;
}